/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */
body {
	box-sizing: border-box;
	font-family: monospace;
}
strong {
	font-weight: bold;
}
#rect-container{
	opacity: 0;
	position: relative;
	border: 1px solid
}
#fingerprint-data {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 700px;
}
#fingerprint-data > div {
	line-height: 1.5;
	color: #2c2f33;
	overflow-wrap: break-word;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0px 2px 2px 0px #cfd0d1;
}
#fingerprint-data h1,
#fingerprint-data h2 {
	color: #2d3657;
	text-align: center;
}
.device {
	background: #7289da3b;
}
.blocked { color: #e00033; font-weight: bold; }
.known {
    font-weight: bold;
    padding: 0 4px;
    background: rgba(94, 77, 241, 0.07);
    color: #5e4df1;
}
.trash, .lies, .errors {
	background: rgba(224, 0, 51, 0.05);
}