/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */

:root {
  --grey: #50514F;
  --red: rgba(242,95,92,0.21);
  --yellow: rgba(255,224,102,0.48);
  --blue: #247BA0;
  --aqua: #70C1B3;
  --text: var(--grey);
  --error: var(--red);
  --warn: var(--yellow);
  --known: var(--blue);
  --good: var(--aqua);
}

body { 
	box-sizing: border-box;
	font-family: monospace !important;
	color: var(--text);
	height: 100vh;
}


.app-loader {
	width: 200px;
    height: 200px;
    background: rgba(255,255,255, 0.9);
	border: 1px solid #cfd0d1;
    display: inline-block;
	border-radius: 5px;
	position: absolute;
	right: -30%;
	transition: height .3s ease;
}

.app-loader {
	animation: spin 2s cubic-bezier(0.77, 0, 0.175, 1.5) infinite;
}
.visitor-loader {
	position: relative;
}
.visitor-loader:after {
	width: 50px;
    height: 50px;
	background: rgba(255,255,255, 0.9);
	border: 1px solid #cfd0d1;
    display: inline-block;
	border-radius: 5px;
	position: absolute;
	content: '';
	right: 70%;
	top: 30%;
	transition: height .3s ease;
}
.visitor-loader:after {
    animation: spin 2s cubic-bezier(0.77, 0, 0.175, 1.5) infinite;
}

@keyframes spin {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateY(-10px) rotate(90deg);
    }
    40% {
        transform: translateY(0) rotate(180deg);
    }
    60% {
        transform: translateY(10px) rotate(270deg);
    }
    80% {
        transform: translateY(0px) rotate(360deg);
    }
    100% {
        transform: translateY(0px) rotate(-360deg);
    }
}

@keyframes work {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translate(0, 10px);
    }
    20% {
        transform: translate(0, -5px);
    }
    30% {
        transform: translate(0, 15px);
    }
    40% {
        transform: translate(0, 5px);
    }
    50% {
        transform: translate(0) rotate(-720deg);
    }
    60% {
        transform: scale(.9);
    }
    70% {
        transform: scale(.8);
    }
    80% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: translate(0);
    }
}

.hide {
	display: none;
}
strong {
	font-weight: bold;
}
visitor {
    display: block;
    min-height: 110px !important;
}
#rect-container {
	opacity: 0;
	position: relative;
	border: 1px solid
}
#fingerprint-data,
visitor {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 750px;
}

#fingerprint-data > div {
	line-height: 1.5;
	overflow-wrap: break-word;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0px 2px 2px 0px #cfd0d1;
}
.time {
	color: #bbb;
}
#fingerprint-data h1,
#fingerprint-data h2 {
	text-align: center;
}

#fingerprint-data .trash,
#fingerprint-data .lies,
#fingerprint-data .errors {
	box-shadow: none;
}
#fingerprint-data .trash,
#fingerprint-data .lies,
#fingerprint-data .blocked {
	background: var(--error);
}
#fingerprint-data .errors {
	background: var(--warn);
}
#fingerprint-data .blocked,
#fingerprint-data .known,
#fingerprint-data .none {
	padding: 0 4px;
}

#fingerprint-data .known {
	background: var(--known);
}
#fingerprint-data .none {
	background: #eee;
}

#fingerprint-data .lie-fingerprint {
	background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
}

#fingerprint-data .trusted-fingerprint {
	font-size: 18px;
	font-weight: bold;
}

.grade-A,
.grade-B,
.grade-C,
.grade-D,
.grade-F {
	color: #fff;
	border-radius: 3px;
	padding: 1px 5px;
	animation: fade-in 1s cubic-bezier(0.77, 0, 0.175, 1.5) both;
}
.grade-A {
	background: #2da568;
}
.grade-B {
	background: #65b3ca;
}
.grade-C {
	background: #657fca;
}
.grade-D {
	background: #9165ca;
}
.grade-F {
	background: #ca656e;
}

@keyframes fade-in {
	0%, 30% {
		transform: translate(0);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes zoom {
	0%, 30% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* components */

a,
.modal-open-btn  {
	color: var(--known);
	text-decoration: none;
	display: inline-block;
	position: relative;
}

a:after,
.modal-open-btn:after {
	background: #247ba026;
	height: 4px;
	display: inline-block;
	position: absolute;
	content: '';
	width: 100%;
	right: 0%;
	top: 10px;
	z-index: -1;
	transition: all .1s ease;
	transform: translate(0, 4px);
}
a:hover:after,
a:active:after,
.modal-open-btn:hover:after,
.modal-open-btn:active:after {
	height: 12px;
	transform: translate(0, -6px) scale(1.1, 1.7);
}

input[type="radio"] {
	display: none;
}
.modal-container {
	background: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: auto;
	cursor: pointer;
	z-index: 1000;
}
.modal-content {
	margin: 100px auto 100px;
	background: #fff;
	min-height: 100px;
	padding: 1rem;
	max-width: 500px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 2px 2px 0px #cfd0d1;
	cursor: text;
	-webkit-user-select: text;
}

.modal-close-btn {
	position: absolute;
	top: -0.5rem;
	right: 0.25rem;
	font-size: 2em;
}

.modal-container,
.modal-open-btn,
.modal-close-btn {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}

@keyframes enter {
	0%, 30% {
		transform: translate(0, -15px);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}
@keyframes show {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}


/*
  --text: var(--grey);
  --error: var(--red);
  --warn: var(--yellow);
  --known: var(--blue);
  --good: var(--aqua);
*/